alarmas/Workflow principal alarmas.json
{
  "name": "Workflow principal alarmas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "06d5285e-f681-45f9-af8f-3e79bdaf4ac0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data.ALARMS_FILE }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        688,
        32
      ],
      "id": "bc06bc84-019b-4062-967b-976c6df7ddfc",
      "name": "Abrir alarms.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        912,
        32
      ],
      "id": "ef58693c-b5e9-46dc-a61b-5dd2b4868a28",
      "name": "Extraer json"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        32
      ],
      "id": "b895337a-2aeb-495e-8480-b308fc28139e",
      "name": "Dividir json en items"
    },
    {
      "parameters": {
        "batchSize": "={{ $('Extraer config').item.json.data.BATCH_SIZE }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        32
      ],
      "id": "c01cbf98-77ad-431a-9fa0-ffb02bf12cab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/f3a76e22-1cfc-4bd1-b95a-6195b9d1d4b5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        256
      ],
      "id": "c987a04e-ee90-497b-9974-fa621a6fa62c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1568,
        176
      ],
      "id": "efe39773-ae5d-4a1d-b242-30b679f52617",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fileSelector": "/home/victor/.n8n-files/configAlarms.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        240,
        32
      ],
      "id": "909a1f1d-08a1-4c6a-a59b-4799c32dfd2e",
      "name": "Abrir config.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        32
      ],
      "id": "1932027e-b920-477c-8620-70e63121700a",
      "name": "Extraer config"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Abrir config.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir alarms.json": {
      "main": [
        [
          {
            "node": "Extraer json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer json": {
      "main": [
        [
          {
            "node": "Dividir json en items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir json en items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir config.json": {
      "main": [
        [
          {
            "node": "Extraer config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer config": {
      "main": [
        [
          {
            "node": "Abrir alarms.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b96be71a-a0e1-48d7-a7aa-9f7df0fbeaf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afde4d66edfef596de2347e0862570c6f7ddd536bf6dd4017b6ff41b7c06ce51"
  },
  "id": "Tv86Qz1BhO3luiQa",
  "tags": []
}