informes/Workflow Informes diarios.json
{
  "name": "Workflow Informes diarios",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        0
      ],
      "id": "30f552de-eff7-42e3-978c-c0c48ceb2a81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "=python3 {{ $json.data.DAILY_REPORTS_SCRIPT }}     --influx-url {{ $json.data.INFLUX_CONFIG.INFLUX_URL }}     --influx-token {{ $json.data.INFLUX_CONFIG.INFLUX_TOKEN }}     --influx-org {{ $json.data.INFLUX_CONFIG.INFLUX_ORG }}     --influx-bucket {{ $json.data.INFLUX_CONFIG.INFLUX_BUCKET }}     --smtp-host {{ $json.data.MAIL_CONFIG.SMTP_HOST }}     --smtp-port {{ $json.data.MAIL_CONFIG.SMTP_PORT }}     --smtp-user {{ $json.data.MAIL_CONFIG.SMTP_USER }}     --smtp-password {{ $json.data.MAIL_CONFIG.SMTP_PASSWORD }}     --email-from \"{{ $json.data.MAIL_CONFIG.EMAIL_FROM }}\"     --output-dir {{ $json.data.OUTPUT_DIR }}     --log-dir {{ $json.data.LOG_DIRECTORY }} --umbral-uptime {{ $json.data.UMBRAL_COLOR_UPTIME }} --alarm-config {{ $json.data.ALARMS_FILE }} --dockers-file {{ $json.data.DOCKERS_FILE }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ],
      "id": "6c06d64b-7921-4348-ba49-dbf7b2e4206a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/home/victor/.n8n-files/configReports.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        0
      ],
      "id": "8efa3aaa-7e9d-4b70-8e57-8eeed54c7309",
      "name": "Abrir config.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "beb5e2fc-f48e-4b03-8181-19c3c9ed1159",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Abrir config.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir config.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "35877bff-3b90-455d-9f15-1ec258050a5e",
  "meta": {
    "instanceId": "afde4d66edfef596de2347e0862570c6f7ddd536bf6dd4017b6ff41b7c06ce51"
  },
  "id": "rgYOJC4WVg8vPN1T",
  "tags": []
}